body {
  background-color: pink !important;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-weight: normal;
  text-align: left;
}

.completed {
  font-size: 12px;
  text-decoration: line-through;
}

#tasks .completed {
  background-color: #ccc !important;
}
